---
// console.clear()

// const VT = (update) => {
//   if (!document.startViewTransition) update()
//   return document.startViewTransition(update)
// } 

// const COUNT = 58
// const LIST = document.querySelector('ul')
// for (let i = 0; i < COUNT; i++) {
//   const LI = Object.assign(document.createElement('li'), {
//     style: `view-transition-name: item-${i}`,
//     innerHTML: `
//       <button>
//         <img src="https://picsum.photos/800/800?random=${i}"
//       </button>
//     `
//   })
//   LI.dataset.index = i
//   LIST.appendChild(LI)
// }

// let selected
// let yPos

// const handleRetraction = () => {
//   if (selected) RETRACT(selected)
// }

// const RETRACT = (item) => {
//   const retraction = VT(() => {
//     window.scrollTo(0, yPos)
//     item.classList.remove('full')
//   })
//   retraction.finished.then(() => {
//     item.dataset.expanded = false
//     item.style.zIndex = 1
//     item = null
//     document.body.removeEventListener('click', handleRetraction)
//   })  
// }

// const EXPAND = (item) => {
//   item.dataset.expanded = true
//   item.classList.add('full')
//   item.scrollIntoView({
//     block: 'center'
//   })
//   document.body.addEventListener('click', handleRetraction)
// }

// const handleExpansion = (event) => {
//   const ITEM = event.target.closest('li')
//   if (ITEM.dataset.expanded === 'true') {
//     // We are taking it down.
//     RETRACT(ITEM)
//   } else {
//     // Check if there is an expansion already...
//     const expanded = document.querySelector('[data-expanded=true]')
//     if (expanded) {
//       document.body.removeEventListener('click', handleRetraction)
//     }
//     selected = ITEM
//     selected.style.zIndex = 10
//     yPos = window.pageYOffset
//     const expansion = VT(() => {
//       if (expanded) {
//         expanded.classList.remove('full')
//         expanded.dataset.expanded = false
//         expanded.style.zIndex = 1
//       }
//       EXPAND(selected)
//     })
//   }
// }

// const BUTTONS = LIST.querySelectorAll('button')
// BUTTONS.forEach(BUTTON => {
//   BUTTON.addEventListener('click', handleExpansion)
// })
---
<ul class="grid"></ul>

<style>
  * {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 2rem;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding: 5vh 0;
/*   background: hsl(0 0% 10%);  */
}

ul {
  grid-auto-flow: dense;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 90vw;
  list-style-type: none;
  gap: 1.5rem;
}

li {
  grid-column: span var(--span-x, 1);
  grid-row: span var(--span-y, 1);
  animation: enter both ease-in-out;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes enter {
  from {
    translate: 0 100%;
    scaleX: 0.25;
    opacity: 0.5;
  }
}

@keyframes exit {
  to {
    translate: 0 -15vh;
    opacity: 0.5;
  }
}

button {
  width: 100%;
  height: 100%;
  padding: 0;
  cursor: pointer;
  border: 0;
  border-radius: .25rem;
}

img {
  border-radius: .25rem;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

li:nth-of-type(1n) {
  --span-x: 1;
  --span-y: 2;
}

li:nth-of-type(2n) {
  --span-x: 2;
  --span-y: 2;
}

li:nth-of-type(3n) {
  --span-x: 1;
  --span-y: 3;
}

li:nth-of-type(2n + 1) {
  --span-x: 1;
  --span-y: 1;
}

li.full {
  --span-x: 4;
  --span-y: 4;
}
</style>