---
const today = new Date();
---

<footer>
	<div class="smallText">
		<p>
			<small>
				&copy; {today.getFullYear()} 
				<a href="https://dvgamerr.app" rel="noopener noreferrer" target="_blank">Kananek T.</a> Bangkok, All rights reserved.
			</small>
		</p>
	</div>
	<div class="social">
		<a href="https://github.com/dvgamerr" target="_blank" rel="noopener">
			<i class="fab fa-github fa-lg"></i>
		</a>
		<a href="https://www.linkedin.com/in/kananek-thongkam" target="_blank" rel="noopener">
			<i class="fab fa-linkedin fa-lg"></i>
		</a>
		<a href="https://www.instagram.com/dvgamerr" target="_blank" rel="noopener">
			<i class="fab fa-instagram fa-lg"></i>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
