---
import { SITE_TITLE, widding } from '../config';
---

<header class="cover">
	<div class="hero-text">
		<mux-video playback-id="EcHgOK9coz5K4rjSwOkoE7Y7O01201YMIC200RI6lNxnhs" />
		<div class="tagline">{widding.title}</div>
		<h1>{SITE_TITLE}</h1>
		<div class="date">{widding.time}</div>
	</div>
	<div class="arrow"></div>
</header>
<script>
	// Arrow script
	const arrow = document.querySelector('.arrow')
	const el = document.querySelector('#main')

	arrow?.addEventListener('click', function () {
		el?.scrollIntoView({ behavior: 'smooth' })
	})
</script>

<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
