---
import { wedding } from '../config'
---

<header class="cover">
  <div class="hero-text">
    <div class="tagline">{wedding.title}</div>
    <h1 class="title">
      <span>กิ่งกาญจน์</span>
      <img src="cbimage.png" width="92" height="92" />
      <span>กัณฑ์อเนก</span>
    </h1>
    <div class="date">{wedding.time2.format('D MMMM พ.ศ. YYYY')}</div>
  </div>
  <div class="arrow"></div>
</header>
<script>
  // Arrow script
  const arrow = document.querySelector('.arrow')
  const el = document.querySelector('#main')

  arrow?.addEventListener('click', function () {
    el?.scrollIntoView({ behavior: 'smooth' })
  })
</script>

<style>
  .cover .title {
    column-gap: 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 1024px) {
    .cover .title {
      flex-direction: column;
      transform: scale(0.8);
      line-height: 1.2em;
    }
    .cover .title > img {
      margin: 0px;
    }
  }

  h2 {
    margin: 0.5em 0;
  }
</style>
